body {
  margin: 0;
}
.inicio {
  min-height: 100px;
}
.contedero {
  display: flex;
  height: 100%;
}
.contenedor_logo {
  width: 240px; 
  height: 640px;
  background-color: #84d8fc;
  padding: 20px; 
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 24px;
}
.negritas {
  font-weight: bold; /* Esto es equivalente a usar '700' */
  font-size: 24px; /* Cambia '24px' por el tamaño que prefieras */
}
.margen_inferior {
  /* Aplica margen inferior a todos los elementos hijos excepto al último */
  margin-bottom: 8px;  /* Ajusta este valor según la escala de tu diseño */
  display: block;
}
.entradas {
  display: flex;
  align-items: center;
  margin-right: 8px; /* Ajusta este valor según la escala de tu diseño */
}
.todo_espacio {
  flex: 1 1 0%; /* Esto hace que el elemento se expanda y contraiga según el espacio disponible */
  padding: 32px; /* Ajusta este valor según la escala de tu diseño */
}
.entrada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px; /* Ajusta este valor según la escala de tu diseño */
}
.tamaño_fuente {
  font-size: 40px; /* tamaño fuente */
  font-weight: 600;
}
.contenedor_cuadricular {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea dos columnas de igual ancho */
  gap: 40px; /* Establece un espacio de 40px entre filas y columnas */
}
.margen_boton {
  margin-bottom: 16px; /* Ajusta este valor según la escala de tu diseño */
}
.ancho {
  display: block;
  margin-bottom: 8px; /* Ajusta este valor según la escala de tu diseño */
  font-weight: 500;
}
.diseño {
  background-color: #f9f9f9; /* Color de fondo */
  border: 1px solid #ccc; /* Borde del campo de selección */
  border-radius: 4px; /* Bordes redondeados para un aspecto moderno */
  padding: 10px 15px; /* Relleno dentro del campo de selección */
  width: 100%; /* Ancho completo para ocupar el contenedor padre */
  font-family: Arial, sans-serif; /* Tipo de letra */
  font-size: 16px; /* Tamaño del texto */
  color: #000; /* Color del texto */
  appearance: none; /* Desactiva el aspecto predeterminado para permitir personalización */
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(''); /* Ícono de desplegable personalizado */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Posiciona el ícono a la derecha, centrado verticalmente */
  cursor: pointer; /* Cambia el cursor a un puntero para indicar que es un elemento interactivo */
  border-color: #007bff; /* Cambia el color del borde al enfocar */
  outline: none; /* Elimina el contorno predeterminado al enfocar */
}
.previsualizar {
  border: 1px solid #e5e7eb; /* Color de borde ligero. Ajusta el color según tu diseño */
  padding: 12px; /* Relleno de 12px en todos los lados */
  margin-bottom: 16px; /* Margen inferior de 16px */
}
.bottonpre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px; /* Ajusta este valor según la escala de tu diseño */
}
.negt {
  font-size: 18px; /* Ajusta según la escala de tu diseño */
  font-weight: 600; /* Semi-negrita */
}
.pre {
  display: flex;
  margin-bottom: 8px; /* Margen inferior de 8px */
  margin-right: 8px; /* Espacio horizontal de 8px entre elementos */
}
.border{
  border-top: 1px solid #8db2fc; /* Añade un borde superior con el color especificado */
  padding-top: 8px; /* Añade un relleno superior de 8px */
}
.hh {
  height: 192px; /* Establece la altura */
  background-color: #b2ebf2; /* Aplica el color de fondo */
}