:root {
  --color-blanco: #fff;
  --color-1: #fffdee;
  --color-2: #b8ddd6;
  --color-3: #56a1a6;
  --color-4: #035165;
  --color-5: #84b6f4;
  --color-green1: #56a686;
  --color-green2: #03653e;
  --color-red: #650303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section img {
  display: flex;
  margin-left: 28%;
  justify-content: center; /* Centra horizontalmente */
  height: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
}
@media screen and (max-width: 768px) {
  section img {
    margin-left: 52px;
  }
}

.msg {
  text-decoration: none !important;
  font-family: inherit !important;
  font-size: 16px !important;
}
/* section {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--color-5); 
  overflow: hidden;
} */
section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(img/wave.png);
  background-size: 1000px 100px;
}
section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .wave.wave3 {
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
section {
  position: relative; /* Hace que la sección sea el contenedor de referencia para el posicionamiento absoluto */
  width: 100%;
  height: 100vh; /* Ajustado para cubrir toda la altura de la ventana */
  background: var(--color-4);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Puedes mantenerlo o quitarlo según tu necesidad */
  justify-content: center; /* Puedes mantenerlo o quitarlo según tu necesidad */
}

.container {
  top: 100px; /* Ajusta esta valor para mover el contenedor hacia abajo desde la parte superior de la sección */
  left: 1000px; /* Ajusta este valor para mover el contenedor hacia la derecha desde el lado izquierdo de la sección */
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 35px 20px 35px !important;
  border-radius: 5px;
  z-index: 9999;
  max-width: 320px; /* Establece un ancho máximo para el contenedor */
  width: 400px !important; /* Establece un ancho máximo para el contenedor */
}

h1 {
  text-align: center;
  /* margin-bottom: 30px; */
}
.btn {
  color: #035165 !important;
  cursor: pointer !important;
  display: inline-block !important;
  width: 100% !important;
  background: var(--color-2) !important;
  padding: 15px !important;
  font-family: inherit !important;
  font-size: 16px !important;
  border: 0 !important;
  border-radius: 15px !important;
}

.btn:hover {
  color: var(--color-2) !important;
  background-color: var(--color-4) !important;
}
.btn:focus {
  outline: 0 !important;
}
.btn:active {
  transform: scale(0.98) !important;
}
.text {
  margin-top: 30px !important;
}
.form-control {
  position: relative;
  margin: 48px 0 25px;
  width: 100%;
}

.eye2{
  color: whitesmoke;
  position: absolute;
  top: 50%;
  right: 10px;
  text-decoration-thickness: 10%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.eye {
  color: whitesmoke;
  position: absolute;
  top: 50%;
  right: 10px;
  text-decoration-thickness: 10%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.form-control2 {
  position: relative;
  margin: 10px 0 10px;
  width: 300px;
}

.msg {
  color: black !important;
}
input {
  background-color: transparent !important;
  border: 0 !important;
  border-bottom: 2px #fff solid !important;
  display: block !important;
  width: 100% !important;
  padding: 15px 0 !important;
  font-size: 18px !important;
  color: #fff !important;
}
input:focus,
input:valid {
  outline: 0;
  border-bottom-color: lightblue !important;
}
label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
p {
  text-align: justify !important;
}
span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:focus + label span,
input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

.message {
  /* Estilos generales del mensaje */
  padding: 10px !important;
  /* margin-top: 10px !important; */
  border-radius: 5px !important;
  text-align: center !important;
}

.success {
  background-color: var(--color-green2) !important;
  color: whitesmoke;
}

.error {
  background-color: var(--color-red) !important;
  color: whitesmoke;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--color-2);
}

.bar {
  position: relative;
  display: block;
  width: 315px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--color-2);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animations */
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--color-2);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--color-2);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: var(--color-2);
  }
  to {
    width: 0;
    background: transparent;
  }
}

.inicio {
  overflow-y: auto;
}
.inputAuth:valid{
  color:var(--color-1) !important;
}