
.Imagenbg img {
  position: relative;
  max-width: 100%; 
  height: auto; 
  display: flex; 
}
.textimg {
  text-align: center;
  position: absolute;
  height: auto; /* Cambiado a auto para adaptarse al contenido */
  max-width: 80%; /* Limita el ancho máximo para evitar que se vuelva demasiado ancho */
  padding: 10px; /* Agrega espacio interno */
  top: 50%; /* Ajusta la posición verticalmente */
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  background-color: yellow;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;
  font-size: 2vw; /* Se define el tamaño de fuente en unidades viewport width */
  font-weight: bold;
  opacity: 1;
}

.textimg2 {
  position: absolute;
  height: auto; /* Cambiado a auto para adaptarse al contenido */
  max-width: 80%; /* Limita el ancho máximo para evitar que se vuelva demasiado ancho */
  padding: 10px; /* Agrega espacio interno */
  top: 60%; /* Ajusta la posición vertical */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.5vw; /* Se define el tamaño de fuente en unidades viewport width */
  font-weight: bold;
}

.textimg:hover, .textimg2:hover {
  opacity: 0.5; 
}

.content-wrapper {
  flex: 1; 
  display: flex;
}

.contenedores-categorias {
  margin-top: 20px;
  flex: 1; 
}
.Separador {
  height: 100px;
  padding: 25px;
  margin-bottom: 10px;
}

.Texsep {
  font-weight: bold;
  font-size: 32px;
}

.todos-los-cuadros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.cuadro1, .cuadro2, .cuadro3 {
  flex: 0 0 30%; 
  margin-bottom: 20px;
  background-color: rgb(105, 255, 215);
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
}
.text1{
  font-size: 12px;
  font-weight: bold;
  
}
.text2{
  font-size: 26px;
  cursor: pointer;
}
.text2:hover{
  opacity: 0.5;
}
.contenedor-de-img {
  margin-bottom: 10px;
}

.img-destacada {
  width: 100%;
  height: auto;
  border-top-left-radius:  20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}
.img-destacada:hover{
    opacity: 0.5; 
  
}
.text {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .cuadro1, .cuadro2, .cuadro3 {
    flex: 0 0 45%;
    max-width: 45%; 
  }
}

@media screen and (max-width: 576px) {
  .cuadro1, .cuadro2, .cuadro3 {
    flex: 0 0 100%;
    max-width: 100%; 
  }
  @media screen and (max-width: 768px) {
    .textimg, .textimg2 {
      width: 80%; 
      max-width: 250px; 
      font-size: 5vw; 
      top: 30%; /* Ajusta la posición verticalmente */
      transform: translate(-50%, -50%); 
    }
  }
  
  @media screen and (max-width: 576px) {
    .textimg{
      width: 80%; 
      max-width: 250px; 
      font-size: 5vw; 
      top: 80%;
      transform: translate(-50%, -50%); 
    }
      .textimg2 {
      opacity: 0;
      }
    }
}