.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.social-icon {
  margin-top: 15px;
}

.social-icon__item,
.menu__item {
  list-style: none;
}
p {
  margin-bottom: 5px !important;
}
h2 {
  margin-top: 10px !important;
}
a.social-icon__link {
  font-size: 2rem;
  color: #035165;
  margin: 0 15px;
  display: inline-block;
  transition: 0.5s;
  cursor: pointer;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

/* .dynamic-names {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

.contenedor_logo {
  margin: 0;
  height: 100vh;
}

.todo_espacio2 {
  display: flex;
  justify-content: space-between;
}

.left,
.right {
  width: 48%;
}

.ancho {
  font-weight: bold;
  margin-bottom: 5px;
}

.cuadro_txt,
.diseño {
  width: 100%;
  padding: 5px;
}

.entr,
.pre {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.pre {
  background-color: #28a745;
}

.border {
  border: 1px solid #ccc;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.tinymce-container {
  width: 100%;
}

.enter {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .todo_espacio2 {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
}
.social-icon {
  margin-left: -2rem;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  select {
    width: 160px !important;
    margin-top: -2rem;
  }
}
