.preview-de-contenido {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cont-titulo h2 {
  margin-bottom: 20px;
}

.contenedor-nombres-y-estrellas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-area {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
}

.insert-nombre {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.rating {
  /* Add styles for your star rating component */
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  font-size: 24px;
  color: #ffc107; /* star color */
}

.dest-coment {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: none; /* prevents resizing of textarea */
}

.contenedor-botn-public {
  text-align: right;
}

.publicar-coment {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.publicar-coment:hover {
  background-color: #0056b3;
}

.posted-comments {
  margin-top: 20px;
}

.contenedor-comentario-public {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.nomnre-y-fecha h5 {
  margin-bottom: 5px;
}

.contendero-de-descriccion {
  font-size: 14px;
}
