:root {
  --color-blanco: #fff;
  --color-1: #fffdee;
  --color-2: #b8ddd6;
  --color-3: #56a1a6;
  --color-4: #035165;
  --color-5: #84b6f4;
  --color-green1: #56a686;
  --color-green2: #03653e;
  --color-red: #650303;
}

.preview-de-contenido {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cont-titulo h2 {
  margin-bottom: 20px;
}

.contenedor-nombres-y-estrellas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-area {
  border-radius: 10px;
  padding: 15px;
  /* border: 1px solid #ddd; */
}

.insert-nombre {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.rating {
  /* Add styles for your star rating component */
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  font-size: 24px;
  color: #ffc107; /* star color */
}

.dest-coment {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: none; /* prevents resizing of textarea */
}

.contenedor-botn-public {
  text-align: right;
}

.publicar-coment {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.publicar-coment:hover {
  background-color: #0056b3;
}

.posted-comments {
  margin-top: 20px;
}

.btnVisitante{
  padding: 10px !important;
  background-color: whitesmoke !important;
  border-bottom: none !important;
}
.txtComentario{
  background-color: whitesmoke !important;
}
.btnVisitante::placeholder {
  color: var(--color-3) !important;
}
.btnVisitante:focus {
  background-color: #f0fdfa !important;
}
.txtComentario::placeholder{
  color: var(--color-3) !important;
}
.txtComentario:focus {
  background-color: #f0fdfa !important;
}

/* .contenedor-comentario-public {
  border-radius: 10px;
  background-color: var(--color-3);
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
} */

.nomnre-y-fecha h5 {
  margin-bottom: 5px;
}

.contendero-de-descriccion {
  font-size: 14px;
}
.Carruselimg {
  display: flex;       
  flex-wrap: nowrap;   
  overflow-x: auto;    
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  
}

.Carruselimg::-webkit-scrollbar {
  display: none;
}

.carrusel1, .carrusel2, .carrusel3, .carrusel4 {
  flex: 0 0 auto; 
  width: 500px;
  height: 100%;
  margin-right: 20px; 
}
.carrusel1 img, .carrusel2 img, .carrusel3 img, .carrusel4 img {
width: auto;
height: auto;
}
.imgdest {
  width: 100%; 
  height: auto;
  height: 400px;
}