:root {
  --color-blanco: #fff;
  --color-1: #fffdee;
  --color-2: #b8ddd6;
  --color-3: #56a1a6;
  --color-4: #035165;
  --color-5: #84b6f4;
  --color-green1: #56a686;
  --color-green2: #03653e;
  --color-red: #650303;
}

/* Encabezado */
.headerhome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* background: linear-gradient(45deg, #5d9697, #81c0c6, #82c2c8, #82c2c8); */
  background: var(--color-3);
}

.headerhome .iml .logo {
  max-width: 75px;
}

.headerhome .menum .navegacion {
  background-color: transparent;
  border: none;
  margin: 0 1rem;
  cursor: pointer;
}

.headerhome .log {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.menum {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.navegacion {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones para el color de fondo y el transform */
  outline: none; /* Elimina el contorno cuando se hace clic en los botones */
}

.navegacion {
  color:var(--color-1);
  text-decoration: none;
  font-weight: bold;
  display: block; /* Asegura que el enlace llene todo el espacio del botón */
}

/* Opcional: añade una sombra para resaltar aún más el efecto de "levitación" */
.navegacion:hover {
  transform: translateY(-3px); /* Mueve el botón hacia arriba */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--color-4);
}

.headerhome .menum .navegacion:hover{
  background-color: var(--color-2);
}
/* Restablece la posición y sombra del botón cuando no se está haciendo hover */
.navegacion:not(:hover) {
  transform: translateY(0);
  box-shadow: none;
}

/* Transición para el elemento que se mueve dentro del botón */
.movimiento {
  transition: transform 0.2s ease;
}

/* Cuando se hace hover, solo se mueve el contenido del botón */
.navegacion:hover .movimiento {
  transform: translateY(-3px);
}
.CircleUser{
  color: var(--color-1);

}
.CircleUser:hover {
  color: var(--color-4);

  transform: scale(1.1); /* Aumenta el tamaño al 110% */
  transition: transform 0.5s ease; /* Suaviza la transición */
}
/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media screen and (max-width: 768px) {
  .headerhome {
    flex-direction: column;
    text-align: center;
  }

  .headerhome .menum {
    margin-top: 1rem;
    flex-direction: column;
    text-align: center;
  }

  .headerhome .menum .navegacion {
    margin: 0.5rem;
  }

  .headerhome .log {
    margin-top: 1rem;
  }
}

.MuiFab-extended{
  background-color: var(--color-3) !important;
  color: var(--color-1) !important;
}
.MuiFab-extended:hover{
  background-color: var(--color-4) !important;
}