
/* Encabezado */
.headerhome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(45deg, #5d9697, #81c0c6, #82c2c8, #82c2c8);
}

.headerhome .iml img {
  max-width: 70px;
}

.headerhome .menum .navegacion {
  background-color: transparent;
  border: none;
  margin: 0 1rem;
  cursor: pointer;
}

.headerhome .log{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}


/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*{
  padding: 0px;
  font-family: "Poppins" , sans-serif;
}
.headerhome {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  display: flex;
  align-items: center; 
  height:  80px;
  padding: 5px 10px;
  justify-content: space-between; 
}
.headerhome:hover{
  box-shadow: 0 0 20px 2px #45f3ff;
  display: flex;
}

.iml img{ 
  height: 70px; 
  width: auto;
}
.Bienvenida{
  border: none;
  background: none;
  color: #f2f2f2;
  padding-right: 1rem; 
}
.Bienvenida:hover{
  text-decoration: underline;
}
.Entradas{
  background:none;
  border: none;
  color: #ffffff;
  padding-right: 1rem;
}
.Entradas:hover{
  text-decoration: underline;
}
.Recursos{
  background:none;
  border: none;
  color: #f2f2f2;
  padding-right: 1rem;
}
.Recursos:hover{
  text-decoration: underline;
}
.Quizz{
  border: none;
  background: none;
  color: #f2f2f2;
}
.Quizz:hover{
  text-decoration: underline;
}
.bodyhome {
  background-color: #f2f2f2;
  color: black;
  text-align: center;
}
.footerhome {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
.Carrusel video {
  object-fit: cover;
  width: 100%;
  height: 100%; 
  left: 0px;
}
.separador1{
  display: flex;
  align-items: end;
  justify-content: center;
  height: 500px;
  background-color: #f2f2f2;
}
.separador2{
  display: flex;
  align-items: end;
  justify-content: center;
  height: 200px;
  text-align: center;
  background-color: #f2f2f2;
}
.separador3{
  height: 200px;
  text-align: center;
  background-color: #f2f2f2;
}
.log{
  box-sizing: content-box;
}
.contenedores {
  display: flex;
  padding-left: 120px;
}

.contenedor1{
    width: 30%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
body h2{
position: relative; 
}
.contenido3{
position: relative;
  
}
.contenedor2{
    width: 30%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.contenedor3 {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.imagen1 img{
    width: 100%;
  height: auto;
  border-radius: 5px;

}
.imagen1:hover img{
  transform: translateY(-20px);
  transition: 300ms;
}
.imagen2 img{
    width: 100%;
  height: auto;
  border-radius: 5px;
}
.imagen2:hover img{
  transform: translateY(-20px);
  transition: 300ms;
}
.imagen3 img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.imagen3:hover img{
  transform: translateY(-20px);
  transition: 300ms;
}
.contenedores2 {
  display: flex;
  padding-left: 120px;
  background-color: #f2f2f2;
}
.contenedor11{
  width: 30%;
border: 1px solid #ccc;
border-radius: 10px;
padding: 20px;
}
.contenedor12{
  width: 30%;
border: 1px solid #ccc;
border-radius: 10px;
padding: 20px;
}
.contenedor13{
  width: 30%;
border: 1px solid #ccc;
border-radius: 10px;
padding: 20px;
}
.quizzform{
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  display: flex;
  color: #ffffff;
}
.quizzform img{
  position: relative;
  width: 256px;
  height: auto;
  left: 600px;
}
.quizz h2{
text-align: center;
}
.texto10:hover {
color: #009dff;
}
.texto11:hover {
  color: #009dff;
  } */
