.body{
  margin: 0;
  padding: 0;
  background-color: #fdf2e1;
}

/* Estilo del encabezado */
.encabezado {
  background-color: #f8f9fa; /* Color de fondo del encabezado */
  padding: 20px;
  text-align: center;
}

/* Estilo de las categorías destacadas */
.categoriasdestacada {

}

.imgprincipal {
  width: 100%; /* Asegúrate de que la imagen se ajuste al contenedor */
  height: auto;
}

.textimg {
  position: absolute; /* Posicionar sobre la imagen si es necesario */
  /* Estilos adicionales para ubicar y diseñar el texto sobre la imagen */
}

.textimg2 {
  /* Similar al .textimg pero para la descripción de la categoría */
}

/* Estilo de los contenedores de las entradas */
.contenedores-categorias {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.Separador {
  /* Estilos para el separador de la sección, como bordes o sombras */
}

.Texsep {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.cuadros-contenedores {
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.contenedor-de-img {
  margin-right: 20px;
}

.img-destacada {
  width: 150px; /* O el tamaño que prefieras */
  height: auto;
}

.contenido-entrada {
  flex: 1; /* Para que tome el espacio restante */
}

.text {
  margin-bottom: 10px;
}

