/* Estilos base index entradas */
.contenedores-categorias {
  margin-top: 20px;
}

.Separador {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

.Texsep {
  font-weight: bold;
}

.todos-los-cuadros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cuadros-contenedores {
  flex: 0 0 30%; /* Ajusta el ancho de los cuadros de entrada */
  margin-bottom: 20px;
}

.contenedor-de-img {
  margin-bottom: 10px;
}

.img-destacada {
  width: 100%;
  height: auto;
}

.texto-entradas {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.text {
  margin-bottom: 10px;
}

/* Reglas de medios de comunicación para hacerlo receptivo */
@media screen and (max-width: 768px) {
  .cuadros-contenedores {
    flex: 0 0 45%; /* Ajusta el ancho de los cuadros en pantallas más pequeñas */
  }
}

@media screen and (max-width: 576px) {
  .cuadros-contenedores {
    flex: 0 0 100%; /* Ajusta el ancho de los cuadros en pantallas extra pequeñas */
  }
}
