.dashboard {
  display: flex;
  font-family: Arial, sans-serif;
  max-width: 100%;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 2;
}

.sections-header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold ;
}

div img {
  position: absolute; /* Posicionamiento absoluto para el logo */
  top: 20px; /* 20px desde la parte superior del div contenedor */
  left: 70px; /* 50px desde la parte izquierda del div contenedor */
}

.menu {
  margin-top: 100px;
  
}

.menu-item {
  background-color: aqua;
  cursor: pointer;
  margin-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
  padding: 5px 5px 1px 1px; /* Asegúrate de dejar espacio para la imagen */
  background-repeat: no-repeat;
  background-position: 150px; /* Ajusta según sea necesario */
  border-radius: 5px;
  text-align: center;
}

.menu-item.plus {
  background-image: url('././public/abajo.svg');
}

.menu-item.minus {
  background-image: url('././public/arriba.svg');
}
.dropdown {
  position: absolute;
  z-index: 1000;
  left: 0;
  background-color: #f0f0f0;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  text-align: center;
}

.dropdown-item {
  cursor: pointer;
  padding: 10px;
}
.dropdown-item:hover {
  background: #f6f8fa;
}

.sidebar-actions {
  position: fixed;
  margin-top: 10px; /* Igual a la altura del header para evitar solapamientos */
  background-color: #f4f4f4; /* Color de fondo ejemplo */
  padding: 20px; /* Espaciado interior para el contenido */
}

.sidebar-actions select,
.sidebar-actions button {
  width: 100%;
  margin-top: 10px;
}

.content {
  margin-left: 251px;
  flex-grow: 1;
  padding: 0px;
  overflow-y: auto;
}

header {
  position: relative;
  width: 1260px; /* Asume un ancho completo */
  height: 100px; /* Altura fija para el ejemplo */
  background-color: #333; /* Color de fondo ejemplo */
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
}

.entry-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.tinymce-container {
<<<<<<< HEAD:src/conponentes/Dashboard.css
  margin-top: 100px;
  position: relative;
  left: 500px;
=======
  margin-top: 100px; /* Espacio adicional en la parte superior */
  position: relative;
  left: 200px; /* Mover a la derecha */
>>>>>>> 81598b82bac204c165f318e3db279aa4c979120d:src/Componentes/Dashboard.css
}

/* Ajustes para TinyMCE para que no ocupe todo el espacio */
.tox .tox-editor-container {
  max-width: 100%; /* Limita el ancho del editor a su contenedor */
  height: auto; /* O puedes establecer una altura fija si lo prefieres */
}

.tox.tox-tinymce {
  margin-bottom: 1rem; /* Añade espacio debajo del editor */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
  }

  .content {
    margin-left: 0;
  }

  .content-header,
  .entry-form {
    flex-direction: column;
  }

  .sidebar-actions {
    order: -1; /* Coloca las acciones de la barra lateral sobre el contenido en móviles */
  }

  .form-group button {
    width: 100%;
    margin-top: 10px;
  }
}
