:root {
  --color-blanco: #fff;
  --color-1: #fffdee;
  --color-2: #b8ddd6;
  --color-3: #56a1a6;
  --color-4: #035165;
}

.mine {
  min-height: 100px;
}
.contenedor{
  height: 100%;
  
}
.logi{
  position: relative; /* Hace que la sección sea el contenedor de referencia para el posicionamiento absoluto */
  width: 100%;
  height: 100vh; /* Ajustado para cubrir toda la altura de la ventana */
  background: var(--color-3); 
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Puedes mantenerlo o quitarlo según tu necesidad */
  justify-content: center; /* Puedes mantenerlo o quitarlo según tu necesidad */
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(src/img/wave.png);
  background-size: 1000px 100px;
}
.wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave.wave3 {
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}
.container {
  position: absolute; /* Posicionamiento absoluto respecto a su contenedor más cercano posicionado, que es 'section' */
  top: 100px; /* Ajusta esta valor para mover el contenedor hacia abajo desde la parte superior de la sección */
  left: 1000px; /* Ajusta este valor para mover el contenedor hacia la derecha desde el lado izquierdo de la sección */
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}
.logo {
  position:relative;
  top: -10px; /* Ajusta según la coordenada Y deseada */
  left: 75px; /* Ajusta según la coordenada X deseada */
  /* Altura opcional, si necesitas ajustar el tamaño de la imagen */
  height: 150px; /* Ajusta según sea necesario */
}
.inicio{
  height: 50px;
  width: 0PX;
  display: flex;    
  align-items: center;
  justify-content: baseline;
  font-family: "Work Sans", sans-serif; 
}
body h2 {
  font-size: 50PX;
  position: absolute;
}
.border {
  color: white;  
  text-shadow:
  -1px -1px 0 white, 
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;  
}
.wa {
  color: #79cff7;
  animation: shift 3s ease-in-out infinite;
}
.form-control{
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
input:focus,
input:valid{
  outline: 0;
  border-bottom-color: lightblue;
}
label{
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
span{
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:focus + label span,
input:valid + label span{
  color: lightblue;
  transform: translateY(-30px);
}
.trans{
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.login-link {
  position: relative;
  display: block;
  padding: 10px 30px;
  border: 2px solid #00aeff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  overflow: hidden;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000;
  text-decoration: none;
  color: lightblue;
}
a span {
  position: relative;
  z-index: 1;
  transition: 1s;
}
a:hover span { /*Cambia el color del texto del enlace al pasar el ratón por encima. */
  color: #fff; 
}
.muv {  /*Crea un efecto visual al pasar el ratón por encima de un enlace, moviendo un elemento con clase .muv hacia arriba. */
  position:absolute;
  top: calc(100% + 22px);
  left: 0;
  width: 100%;
  height: 100%;
  background: #00aeff;
  transition: 1s;
}
a:hover .muv {
  top: 0;
}
.muv:before {
  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background-image: url(src/img/wave2.png);
  animation: animate 3s linear infinite;
}
@keyframes animate{
  0% {
    background-position-x: 0;  
  }
  100% {
    background-position-x: 118px;
  }
}


@keyframes shift {
  0%, 100% {
   clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

























