@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*{
  padding: 0px;
  font-family: "Poppins" , sans-serif;
}
.headerhome {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color: white;
    padding: 40px 0;
    text-align: center;
}
  .Bienvenida{
    position:absolute;
    top: 25px;
    border: none;
    background: none;
    color: #f2f2f2;
    left: 400px;
  }
  .Bienvenida:hover{
    text-decoration: underline;
  }
  .Entradas{
    background:none;
    border: none;
    position:absolute;
    top: 25px;
    color: #ffffff;
    left: 600px;
  }
  .Entradas:hover{
    text-decoration: underline;
  }
  .Recursos{
    position:relative;
    top: 5px;
    background:none;
    border: none;
    color: #f2f2f2;
    left: 700px;
  }
  .Recursos:hover{
    text-decoration: underline;
  }
  .Quizz{
    position:absolute;
    top: 25px;
    border: none;
    background: none;
    color: #f2f2f2;
    left: 1050px;
  }
  .Quizz:hover{
    text-decoration: underline;
  }
  .logotipo {
    position: absolute;
    top: 1px;
    left: 20px;
  }
  .bodyhome {
    background-color: #f2f2f2;
    color: black;
    padding: 20px;
    text-align: center;
  }
  
  .bodyhome img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0px;
  }
  .footerhome {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
