@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*{
  padding: 0px;
  font-family: "Poppins" , sans-serif;
}
.headerhome {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  display: flex;
  align-items: center; /*alinia los item al centro */
  height:  80px;
  padding: 5px 10px;
  justify-content: space-between; /*alinia los 3 div con espacion equitativamente*/
}
/* tamaño de la imagen  */
.iml img{ 
  height: 70px; 
  width: auto;
}
.Bienvenida{
  border: none;
  background: none;
  color: #f2f2f2;
 padding-right: 1rem; /*la separacion de la derecha esta esta en todso los botones puedes campiarle a px */
}
.Bienvenida:hover{
  text-decoration: underline;
}
.Entradas{
  background:none;
  border: none;
  color: #ffffff;
  padding-right: 1rem;
}
.Entradas:hover{
  text-decoration: underline;
}
.Recursos{
  background:none;
  border: none;
  color: #f2f2f2;
  padding-right: 1rem;
}
.Recursos:hover{
  text-decoration: underline;
}
.Quizz{
  border: none;
  background: none;
  color: #f2f2f2;
}
.Quizz:hover{
  text-decoration: underline;
}
.bodyhome {
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  
}
.Carrusel{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0px;
}

.bodyhome img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}
.footerhome {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}